a{
 
    display: block;
    color:white;
    text-decoration: none;
    height:80%;
    width:100%;
 
}
a:hover, a:active,a:focus{
    text-decoration: none;
    color:black !important;
}
.active
{

   border-bottom:4px solid black;
   color:black !important;

    text-decoration: none;
 
}
